
        <div class="mdui-table-fluid">
            <table class="mdui-table mdui-table-selectable">
                <thead>
                    <tr>
                        <th>UID</th>
                        <th>昵称</th>
                        <th>邮箱</th>
                        <th>用户组</th>
                        <th>最近登录</th>
                    </tr>
                </thead>
                <tbody>
                    {% for each in userList %}
                    <tr>
                        <td>{{ each[0] }}</td>
                        <td>{{ each[1] }}</td>
                        <td>{{ each[2] }}</td>
                        <td>{{ each[4] }}</td>
                        <td>{{ each[5] }}</td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
