{% extends "base.html" %}

{% block content %}

<style>
    .mdui-card {
        margin-bottom: 20px;
    }

    .mdui-checkbox,
    .mdui-radio {
        padding-left: 25px !important;
    }
</style>

<div class="mdui-container mdui-container-fluid">
    <div class="mdui-tab mdui-tab-scrollable" mdui-tab>
        <a href="/admin" class="mdui-ripple"><i class="mdui-icon material-icons">home</i>面板首页</a>
        <a href="/admin/config" class="mdui-ripple"><i class="mdui-icon material-icons">settings</i>参数设置</a>
        <a href="/admin/group" class="mdui-ripple"><i class="mdui-icon material-icons">group</i>分组</a>
        <a href="/admin/user" class="mdui-ripple"><i class="mdui-icon material-icons">account_circle</i>用户</a>
        <a href="/admin/exam" class="mdui-tab-active mdui-ripple"><i class="mdui-icon material-icons">book</i>考试</a>
        <a href="/admin/file" class="mdui-ripple"><i class="mdui-icon material-icons">insert_drive_file</i>文件分享</a>
    </div>
    <div style="padding-left: 5%;padding-right: 5%;padding-top: 20px;">
        Add exam
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">Name</label>
            <input class="mdui-textfield-input" maxlength="250" id="cs_exam_name"></input>
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label">
            <label class="mdui-textfield-label">Description</label>
            <textarea class="mdui-textfield-input" id="cs_exam_desc"></textarea>
        </div>
        <br>
        StartTime:
        <input id="cs_exam_st_date" type="date" class="mdui-color-transparent mdui-text-color-theme-text"
            style="border: none;">
        <input id="cs_exam_st_time" type="time" class="mdui-color-transparent mdui-text-color-theme-text"
            style="border: none;" value="13:30">
        <br><br>
        EndTime:
        <input id="cs_exam_et_date" type="date" class="mdui-color-transparent mdui-text-color-theme-text"
            style="border: none;">
        <input id="cs_exam_et_time" type="time" class="mdui-color-transparent mdui-text-color-theme-text"
            style="border: none;" value="13:30">
        <br><br>
        Groups:
        {% for each in groupList %}
        <label class="mdui-checkbox" style="padding-right:10px;">
            <input type="checkbox" class="cs_exam_groups" data-id="{{each[0]}}" />
            <i class="mdui-checkbox-icon"></i>
            {{each[1]}}
        </label>
        {% endfor %}
        <br><br>
        <button class="mdui-btn mdui-btn-raised mdui-ripple mdui-color-theme-accent" onclick="submit()">Submit</button>

        <script>
            var $ = mdui.$;
            function submit() {
                data = {}
                data["name"] = $("#cs_exam_name")[0].value
                data["description"] = $("#cs_exam_desc")[0].value
                data["startTime"] = $("#cs_exam_st_date")[0].value + " " + $("#cs_exam_st_time")[0].value + ":00"
                data["endTime"] = $("#cs_exam_et_date")[0].value + " " + $("#cs_exam_et_time")[0].value + ":00"
                data["groups"] = []
                $(".cs_exam_groups").each(function (index, element) {
                    if (this.checked == true) {
                        data.groups.push(this.dataset.id)
                    }
                })
                console.log(JSON.stringify(data))
                $.ajax({
                    method: 'GET',
                    url: '/api/admin/exam/new',
                    async: false,
                    cache: false,
                    data: {
                        data: JSON.stringify(data)
                    },
                    success: function (data) {
                        data = JSON.parse(data)
                        if (data.message == "success") {
                            window.location.href = "/admin/exam"
                        } else {
                            mdui.snackbar({
                                message: "Error: " + data.data,
                                position: "right-top"
                            })
                        }
                    }
                });
            }
        </script>

    </div>
</div>
{% endblock %}