{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login/login.css')}}" />
{% endblock %}

{% block content %}

<div class="mdui-container mdui-container-fluid">
    <div class="mdui-card mdui-card-content">
        <div class="mdui-card-primary-title">个人资料</div>
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
                <div class="mdui-list-item-avatar">
                    <img src="/static/favicon.png" />
                </div>
                <div class="mdui-list-item-content">头像</div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">assignment_ind</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title mdui-list-item-one-line">UID</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">{{user[0]}}</div>
                </div>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title mdui-list-item-one-line">昵称</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">{{user[1]}}</div>
                </div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">email</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title mdui-list-item-one-line">邮箱</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">{{user[2]}}</div>
                </div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">group</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title mdui-list-item-one-line">用户组</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">{{user[4]}}</div>
                </div>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">date_range</i>
                <div class="mdui-list-item-content">
                    <div class="mdui-list-item-title mdui-list-item-one-line">注册时间</div>
                    <div class="mdui-list-item-text mdui-list-item-one-line">{{user[5]}}</div>
                </div>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">data_usage</i>
                <div class="mdui-list-item-content">Data usage</div>
            </li>
        </ul>
    </div>

    <div class="mdui-card mdui-card-content">
        <div class="mdui-card-primary-title">安全隐私</div>
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">lock_outline</i>
                <div class="mdui-list-item-content">密码</div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </li>
    
    
        </ul>
    </div>

    <div class="mdui-card mdui-card-content">
        <div class="mdui-card-primary-title">个性化</div>
        <ul class="mdui-list">
            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">color_lens</i>
                <div class="mdui-list-item-content">主题配色</div>
                <i class="mdui-list-item-icon mdui-icon material-icons">keyboard_arrow_right</i>
            </li>

            <li class="mdui-list-item mdui-ripple">
                <i class="mdui-list-item-icon mdui-icon material-icons">invert_colors</i>
                <div class="mdui-list-item-content">深色模式 </div>
                <select class="mdui-select">
                    <option value="1">State 1</option>
                    <option value="2">State 2</option>
                    <option value="3" disabled>State 3</option>
                    <option value="4">State 4</option>
                    <option value="5">State 5</option>
                    <option value="6">State 6</option>
                </select>
            </li>

        </ul>
    </div>

</div>




<script>var $ = mdui.$; cs_checkLogin()</script>
{% endblock %}