<!doctype html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
    <meta name="renderer" content="webkit" />
    <meta name="force-rendering" content="webkit" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
        integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw" crossorigin="anonymous" />
    {% block css %}{% endblock %}
    <link rel="icon" type="image/png" href="{{url_for('static', filename='favicon.png')}}">

    {% if title %}
    <title>{{config.siteName}} | {{title}}</title>
    {% else %}
    <title>{{config.siteName}}</title>
    {% endif %}
</head>

<body class="mdui-appbar-with-toolbar mdui-theme-accent-indigo mdui-theme-primary-deep-purple">
    <div class="mdui-appbar mdui-appbar-fixed" id="cs-toolbar">
    </div>
    <div class="mdui-drawer mdui-drawer-close" id="cs-drawer">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
        integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
        crossorigin="anonymous"></script>
    {% block content %}{% endblock %}
    <script src="{{url_for('static', filename='script/gui.js')}}"></script>
</body>

</html>