{% extends "base.html" %}

{% block content %}

<div class="mdui-container mdui-container-fluid ">
    <div class="mdui-text-center" style="margin-top: 15vh;">
        <img src="/static/favicon.svg" alt="CloudStudy ICON"
            style="width: 30%;height: 30%;max-width: 250px;max-height: 250px;"></img>
        <div class="mdui-typo-display-2" style="font-weight: bold;">CloudStudy</div>
        <p>云学习 | 在线考试系统</p>

    </div>
    <div style="position: absolute; bottom: 10px;">
        <div class="mdui-typo-caption-opacity">Copyright © <a
                href="https://github.com/CloudStudyOpenSource/"><i>CloudStudy</i></a>. All rights
            reserved.</div>
    </div>

</div>


{% endblock %}